* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-color: rgba(108, 0, 0);
    --secondary-color: #fff;
    --text-color: #333;

}

body {
    background-color: var(--secondary-color);
    line-height: 1.4;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 6%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #df0404;
}

.btn-anime {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.btn-anime:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #800000;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar ul li {
    margin-right: 2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgb(159, 159, 159);
    border-bottom: 2px solid lightgray;
}


/* hero section style */

.hero-section {
    background: url("https://i.pinimg.com/736x/6a/77/5b/6a775b6e4e8bba5b8af5acde8e2a8f4d.jpg") center/cover no-repeat;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.hero-section h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-section p {
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn-1 {
    padding: 10px 16px;
    width: 26%;
    background-color: transparent;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.btn-1:hover {
    background-color: rgba(255, 0, 0, 0.874);
    transform: scale(1.02);
}


/* about section style */
.about-me {
    max-width: 1600px;
    margin: auto;
    padding: 5%;

}

.about-me h1 {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.about-me h1::after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background-color: var(--primary-color);
    margin: auto;
}

.about-me .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.about-me .about-container img {
    width: 50%;
    cursor: pointer;
}

.about-me .about-container .about-content {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    padding: 2rem;
    line-height: 1.4;
}

.about-me .about-container .about-content h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.about-me .about-container .about-content h2 span {
    color: #ea0808;
}

.about-me .about-container .about-content .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.about-me .about-container .about-content .btn-2:hover {
    background-color: var(--primary-color);
    transform: scale(1.03);
}

.about-me .about-container .about-content .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-me .about-container .about-content .social-links a {
    padding: 6px;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.about-me .about-container .about-content .social-links a:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    background-color: var(--primary-color);
    transform: translateY(-10px);
}




/* anime list style */
.anime-list {
    max-width: 1400px;
    margin: auto;
    padding: 6% 7%;
}

.anime-name-grid{
   display: flex;
   justify-content: center;
   align-items: center;
   /* gap: 2rem; */
}

.anime-list h1 {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.anime-list h1::after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background-color: var(--primary-color);
    margin: auto;
}

.anime-list p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.anime-list .anime-names {
    margin: auto;
    background: linear-gradient(100deg, #2a2a2a, #2f1919);
    padding: 3rem;
    width: 60%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 1, 1.6);
    height: 740px;
    overflow: auto;
    color: white;
}

.anime-list .anime-names::-webkit-scrollbar {
    width: 10px;
}



/* contact section style */
.contact-section {
    max-width: 1200px;
    margin: auto;
    padding: 6% 7%;
    color: black;
}

.contact-section h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.contact-section h2::after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background-color: var(--primary-color);
    margin: auto;
}

.contact-section .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section .contact-container .contact-info {
    line-height: 1.5;
    font-size: 1.2rem;
    margin-right: 3rem;
}

.contact-section .contact-container .contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    background: linear-gradient(100deg, #2a2a2a, var(--primary-color));
    padding: 15px 20px;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.contact-section .contact-container .contact-form form input,
.contact-section .contact-container .contact-form form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    outline: none;
}

.contact-section .contact-container .contact-form form button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #383838;
    color: white;
}

.contact-section .contact-container .contact-form form button:hover {
    background-color: #491717;
    transform: scale(1.03);
}



/* footer section style */
footer{
    text-align: center;
    padding: 3%;
    background-color: #2a2a2a;
    color: white;
    border-top: 4px solid var(--primary-color);
}















/* mobile responsive style */
@media screen and (max-width: 836px) {
    .navbar ul {
        display: none;
    }

    .navbar ul li a {
        color: white;
    }

    .navbar ul.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 1px;
        width: 100%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.6), rgba(122, 14, 29, 0.892));
        padding: 10px;
        border-radius: 5px;
        border: 2px solid white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    }

    .menu-toggle {
        display: block;
        position:fixed;
        top: 15px;
        right: 20px;
        z-index: 1000;
        cursor: pointer;
        font-size: 2rem;
        transition: all 0.3s ease;
    }

    .menu-toggle i {
        font-size: 2rem;
        cursor: pointer;
    }

    .menu-toggle i:hover {
        color: var(--primary-color);
    }

    .menu-toggle i:active {
        color: var(--primary-color);
        transform: scale(1.03);
        transition: all 0.3s ease;
    }




    /* about/hero/anime-list section responsive style */

    .about-me .about-container img {
        display: none;
    }

    .about-me .about-container .about-content {
        width: 100%;
    }

    .hero-section h1 {

        font-size: 2rem;
        text-align: center;
    }

    .hero-section p {
        font-size: 1rem;
        text-align: center;
    }

    .btn-1{
        width: 140px;
        padding: 10px;
        text-align: center;
        border: none;
    }
    .btn-1:hover{
        color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
        transform: scale(1.03);
        transition: all 0.3s ease;
    }


    .anime-list .anime-names {
        width: 94%;
        height: 66vh;
        padding: 1rem 2.5rem;
        font-size: 0.8rem;
        line-height: 1.7;
        border: 2px solid rgb(18, 18, 18);

    }

    .btn-anime {
        display: none;
    }

    .anime-list {
        padding: 2rem;
    }

    /* contact responsive style */
    .contact-section h1{
        margin-bottom: 100rem;
    }
    .contact-section .contact-container .contact-info {
        display: none;
        margin-right: 2rem;
        margin: auto;

    }

    .contact-section .contact-container .contact-form form {
        width: 100%;
        margin: auto;

    }
    .contact-footer{
        display: flex;
       flex-direction: column;
       margin: auto;
       text-align: left;
       margin-bottom: 30px;
       font-size: 0.8rem;
    }
    .footer-title{
        text-align: left;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
   
    .anime-image{
       display: none;
    }
   
}

/* tablet responsive style */
@media (min-width: 1264px) {
    .menu-toggle {
        display: none;
    }

    
}



/* desktop responsive style */
@media (min-width: 1200px) {
    .menu-toggle {
        display: none;
    }
  .footer-title{
    display: none;
  }
  .contact-footer{
    display: none;
  }
  .watch-anime{
    display: none;
  }

}